{% extends 'base.html'%}

{%block title%}

  {{board.name}} - {{ block.super }}

{%endblock%}

{%block breadcrumb %}

  <li class="breadcrumb-item"><a href="{% url 'index' %}">Board</a></li>
  <li class="breadcrumb-item active">{{ board.name }}</li>

{%endblock%}


 {%block content%}

       <div class="mb-4">

        <a href="{% url 'topic_create' board.name %}" class="btn btn-primary">New topic</a>

       </div>

        {%if board %}

                <table class="table">
                <thead class="thead-inverse">
                <th>Topic</th>
                <th>Starter</th>
                <th>Replies</th>
                <th>Views</th>
                <th>Last Updated</th>
                </thead>
            
                <tbody>
                    
                {% for topic in topics%}

                <tr>
                    <td><a href="{% url 'topic_details' board.name topic.pk %}"> {{topic.subject}} </a>
                    
                    </td>

                    <td> {{topic.starter.username}} </td>
                    <td> {{ topic.replies }} </td>
                    <td> {{ topic.views }} </td>
                    <td> {{topic.last_updated }} </td>
                </tr>
                
                {%endfor%}

                </tbody>

                </table>

            {%else%}

               <p> Board unavailable in this discussion forum </p>

            {%endif%}

 {%endblock%}